.places{
    text-align: center;
    padding-bottom: 100px;
}

.places h1{

    vertical-align: top;
    text-align: left;
    font-size: 30px;
    padding-left: 15px;
}

.digs{
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: solid #FF5A5F 1px;
    border-radius: 4px;
    display: inline-block;
    text-align: center;
    max-height: 312px;
}

.digs h2{
    font-size: 30px;
    text-align: center;
    margin-top: 0px;
}

.price_by_night {
    color: #FF5A5F;
    border: #FF5A5F 4px solid;
    border-radius: 50%;
    font-size: 30px;
    height: 60px;
    min-width: 60px;
    margin-top: -10px;
    line-height: 60px;
    text-align: center;
    vertical-align: top;
    display: inline-block;
    float: right;
}

.information {
    height: 80px;
    border-top: #DDDDDD 1px solid;
    border-bottom: #DDDDDD 1px solid;
    margin-top: 25px;
    flex-direction: row;
}
.max_guest {
    width: 100px;
    display: inline-block;
}

.max_guest::before {
    content: url('../images/icon_group.png');
    display: block;
}

.max_guest::after {
    display: inline-block;
}

.number_rooms {

    width: 100px;
    display: inline-block;
}
.number_rooms::before {
    content: url('../images/icon_bed.png');
    display: block;
}

.number_rooms::after {
    display: inline-block;
}

.number_bathrooms {
    width: 100px;
    display: inline-block;
}

.number_bathrooms::before{
    content: url('../images/icon_bath.png');
    display: block;
}
.user {
    margin-top: 10px;
    float: left;
    text-align: left;
}
